<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.noomn.dao.mapper.BusinessOpportunityMapper">
  <resultMap id="BaseResultMap" type="cn.com.noomn.dao.BusinessOpportunity">
    <id column="BUSINESS_OPPORTUNITY_ID" jdbcType="VARCHAR" property="businessOpportunityId" />
    <result column="FOLLOW_EMPLOYEE_ID" jdbcType="VARCHAR" property="followEmployeeId" />
    <result column="CUSTOM_ID" jdbcType="VARCHAR" property="customId" />
    <result column="SALES_STAGE_ID" jdbcType="VARCHAR" property="salesStageId" />
    <result column="PRODUCT_ID" jdbcType="VARCHAR" property="productId" />
    <result column="PRE_SALES_AMOUNT" jdbcType="DECIMAL" property="preSalesAmount" />
    <result column="PRE_DEAL_TIME" jdbcType="TIMESTAMP" property="preDealTime" />
    <result column="COST" jdbcType="DECIMAL" property="cost" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    BUSINESS_OPPORTUNITY_ID, FOLLOW_EMPLOYEE_ID, CUSTOM_ID, SALES_STAGE_ID, PRODUCT_ID, 
    PRE_SALES_AMOUNT, PRE_DEAL_TIME, COST, REMARK
  </sql>
  <select id="selectByExample" parameterType="cn.com.noomn.dao.BusinessOpportunityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from business_opportunity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from business_opportunity
    where BUSINESS_OPPORTUNITY_ID = #{businessOpportunityId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from business_opportunity
    where BUSINESS_OPPORTUNITY_ID = #{businessOpportunityId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.com.noomn.dao.BusinessOpportunityExample">
    delete from business_opportunity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.com.noomn.dao.BusinessOpportunity">
    insert into business_opportunity (BUSINESS_OPPORTUNITY_ID, FOLLOW_EMPLOYEE_ID, 
      CUSTOM_ID, SALES_STAGE_ID, PRODUCT_ID, 
      PRE_SALES_AMOUNT, PRE_DEAL_TIME, COST, 
      REMARK)
    values (#{businessOpportunityId,jdbcType=VARCHAR}, #{followEmployeeId,jdbcType=VARCHAR}, 
      #{customId,jdbcType=VARCHAR}, #{salesStageId,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}, 
      #{preSalesAmount,jdbcType=DECIMAL}, #{preDealTime,jdbcType=TIMESTAMP}, #{cost,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.noomn.dao.BusinessOpportunity">
    insert into business_opportunity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="businessOpportunityId != null">
        BUSINESS_OPPORTUNITY_ID,
      </if>
      <if test="followEmployeeId != null">
        FOLLOW_EMPLOYEE_ID,
      </if>
      <if test="customId != null">
        CUSTOM_ID,
      </if>
      <if test="salesStageId != null">
        SALES_STAGE_ID,
      </if>
      <if test="productId != null">
        PRODUCT_ID,
      </if>
      <if test="preSalesAmount != null">
        PRE_SALES_AMOUNT,
      </if>
      <if test="preDealTime != null">
        PRE_DEAL_TIME,
      </if>
      <if test="cost != null">
        COST,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="businessOpportunityId != null">
        #{businessOpportunityId,jdbcType=VARCHAR},
      </if>
      <if test="followEmployeeId != null">
        #{followEmployeeId,jdbcType=VARCHAR},
      </if>
      <if test="customId != null">
        #{customId,jdbcType=VARCHAR},
      </if>
      <if test="salesStageId != null">
        #{salesStageId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="preSalesAmount != null">
        #{preSalesAmount,jdbcType=DECIMAL},
      </if>
      <if test="preDealTime != null">
        #{preDealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cost != null">
        #{cost,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.com.noomn.dao.BusinessOpportunityExample" resultType="java.lang.Integer">
    select count(*) from business_opportunity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update business_opportunity
    <set>
      <if test="record.businessOpportunityId != null">
        BUSINESS_OPPORTUNITY_ID = #{record.businessOpportunityId,jdbcType=VARCHAR},
      </if>
      <if test="record.followEmployeeId != null">
        FOLLOW_EMPLOYEE_ID = #{record.followEmployeeId,jdbcType=VARCHAR},
      </if>
      <if test="record.customId != null">
        CUSTOM_ID = #{record.customId,jdbcType=VARCHAR},
      </if>
      <if test="record.salesStageId != null">
        SALES_STAGE_ID = #{record.salesStageId,jdbcType=VARCHAR},
      </if>
      <if test="record.productId != null">
        PRODUCT_ID = #{record.productId,jdbcType=VARCHAR},
      </if>
      <if test="record.preSalesAmount != null">
        PRE_SALES_AMOUNT = #{record.preSalesAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.preDealTime != null">
        PRE_DEAL_TIME = #{record.preDealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cost != null">
        COST = #{record.cost,jdbcType=DECIMAL},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update business_opportunity
    set BUSINESS_OPPORTUNITY_ID = #{record.businessOpportunityId,jdbcType=VARCHAR},
      FOLLOW_EMPLOYEE_ID = #{record.followEmployeeId,jdbcType=VARCHAR},
      CUSTOM_ID = #{record.customId,jdbcType=VARCHAR},
      SALES_STAGE_ID = #{record.salesStageId,jdbcType=VARCHAR},
      PRODUCT_ID = #{record.productId,jdbcType=VARCHAR},
      PRE_SALES_AMOUNT = #{record.preSalesAmount,jdbcType=DECIMAL},
      PRE_DEAL_TIME = #{record.preDealTime,jdbcType=TIMESTAMP},
      COST = #{record.cost,jdbcType=DECIMAL},
      REMARK = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.noomn.dao.BusinessOpportunity">
    update business_opportunity
    <set>
      <if test="followEmployeeId != null">
        FOLLOW_EMPLOYEE_ID = #{followEmployeeId,jdbcType=VARCHAR},
      </if>
      <if test="customId != null">
        CUSTOM_ID = #{customId,jdbcType=VARCHAR},
      </if>
      <if test="salesStageId != null">
        SALES_STAGE_ID = #{salesStageId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="preSalesAmount != null">
        PRE_SALES_AMOUNT = #{preSalesAmount,jdbcType=DECIMAL},
      </if>
      <if test="preDealTime != null">
        PRE_DEAL_TIME = #{preDealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cost != null">
        COST = #{cost,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where BUSINESS_OPPORTUNITY_ID = #{businessOpportunityId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.noomn.dao.BusinessOpportunity">
    update business_opportunity
    set FOLLOW_EMPLOYEE_ID = #{followEmployeeId,jdbcType=VARCHAR},
      CUSTOM_ID = #{customId,jdbcType=VARCHAR},
      SALES_STAGE_ID = #{salesStageId,jdbcType=VARCHAR},
      PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      PRE_SALES_AMOUNT = #{preSalesAmount,jdbcType=DECIMAL},
      PRE_DEAL_TIME = #{preDealTime,jdbcType=TIMESTAMP},
      COST = #{cost,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=VARCHAR}
    where BUSINESS_OPPORTUNITY_ID = #{businessOpportunityId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="cn.com.noomn.dao.BusinessOpportunity">
    <id column="BUSINESS_OPPORTUNITY_ID" jdbcType="VARCHAR" property="businessOpportunityId" />
    <result column="FOLLOW_EMPLOYEE_ID" jdbcType="VARCHAR" property="followEmployeeId" />
    <result column="CUSTOM_ID" jdbcType="VARCHAR" property="customId" />
    <result column="SALES_STAGE_ID" jdbcType="VARCHAR" property="salesStageId" />
    <result column="PRODUCT_ID" jdbcType="VARCHAR" property="productId" />
    <result column="PRE_SALES_AMOUNT" jdbcType="DECIMAL" property="preSalesAmount" />
    <result column="PRE_DEAL_TIME" jdbcType="TIMESTAMP" property="preDealTime" />
    <result column="COST" jdbcType="DECIMAL" property="cost" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    BUSINESS_OPPORTUNITY_ID, FOLLOW_EMPLOYEE_ID, CUSTOM_ID, SALES_STAGE_ID, PRODUCT_ID, 
    PRE_SALES_AMOUNT, PRE_DEAL_TIME, COST, REMARK
  </sql>
  <select id="selectByExample" parameterType="cn.com.noomn.dao.BusinessOpportunityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from business_opportunity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from business_opportunity
    where BUSINESS_OPPORTUNITY_ID = #{businessOpportunityId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from business_opportunity
    where BUSINESS_OPPORTUNITY_ID = #{businessOpportunityId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.com.noomn.dao.BusinessOpportunityExample">
    delete from business_opportunity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.com.noomn.dao.BusinessOpportunity">
    insert into business_opportunity (BUSINESS_OPPORTUNITY_ID, FOLLOW_EMPLOYEE_ID, 
      CUSTOM_ID, SALES_STAGE_ID, PRODUCT_ID, 
      PRE_SALES_AMOUNT, PRE_DEAL_TIME, COST, 
      REMARK)
    values (#{businessOpportunityId,jdbcType=VARCHAR}, #{followEmployeeId,jdbcType=VARCHAR}, 
      #{customId,jdbcType=VARCHAR}, #{salesStageId,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}, 
      #{preSalesAmount,jdbcType=DECIMAL}, #{preDealTime,jdbcType=TIMESTAMP}, #{cost,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.noomn.dao.BusinessOpportunity">
    insert into business_opportunity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="businessOpportunityId != null">
        BUSINESS_OPPORTUNITY_ID,
      </if>
      <if test="followEmployeeId != null">
        FOLLOW_EMPLOYEE_ID,
      </if>
      <if test="customId != null">
        CUSTOM_ID,
      </if>
      <if test="salesStageId != null">
        SALES_STAGE_ID,
      </if>
      <if test="productId != null">
        PRODUCT_ID,
      </if>
      <if test="preSalesAmount != null">
        PRE_SALES_AMOUNT,
      </if>
      <if test="preDealTime != null">
        PRE_DEAL_TIME,
      </if>
      <if test="cost != null">
        COST,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="businessOpportunityId != null">
        #{businessOpportunityId,jdbcType=VARCHAR},
      </if>
      <if test="followEmployeeId != null">
        #{followEmployeeId,jdbcType=VARCHAR},
      </if>
      <if test="customId != null">
        #{customId,jdbcType=VARCHAR},
      </if>
      <if test="salesStageId != null">
        #{salesStageId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="preSalesAmount != null">
        #{preSalesAmount,jdbcType=DECIMAL},
      </if>
      <if test="preDealTime != null">
        #{preDealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cost != null">
        #{cost,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.com.noomn.dao.BusinessOpportunityExample" resultType="java.lang.Integer">
    select count(*) from business_opportunity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update business_opportunity
    <set>
      <if test="record.businessOpportunityId != null">
        BUSINESS_OPPORTUNITY_ID = #{record.businessOpportunityId,jdbcType=VARCHAR},
      </if>
      <if test="record.followEmployeeId != null">
        FOLLOW_EMPLOYEE_ID = #{record.followEmployeeId,jdbcType=VARCHAR},
      </if>
      <if test="record.customId != null">
        CUSTOM_ID = #{record.customId,jdbcType=VARCHAR},
      </if>
      <if test="record.salesStageId != null">
        SALES_STAGE_ID = #{record.salesStageId,jdbcType=VARCHAR},
      </if>
      <if test="record.productId != null">
        PRODUCT_ID = #{record.productId,jdbcType=VARCHAR},
      </if>
      <if test="record.preSalesAmount != null">
        PRE_SALES_AMOUNT = #{record.preSalesAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.preDealTime != null">
        PRE_DEAL_TIME = #{record.preDealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cost != null">
        COST = #{record.cost,jdbcType=DECIMAL},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update business_opportunity
    set BUSINESS_OPPORTUNITY_ID = #{record.businessOpportunityId,jdbcType=VARCHAR},
      FOLLOW_EMPLOYEE_ID = #{record.followEmployeeId,jdbcType=VARCHAR},
      CUSTOM_ID = #{record.customId,jdbcType=VARCHAR},
      SALES_STAGE_ID = #{record.salesStageId,jdbcType=VARCHAR},
      PRODUCT_ID = #{record.productId,jdbcType=VARCHAR},
      PRE_SALES_AMOUNT = #{record.preSalesAmount,jdbcType=DECIMAL},
      PRE_DEAL_TIME = #{record.preDealTime,jdbcType=TIMESTAMP},
      COST = #{record.cost,jdbcType=DECIMAL},
      REMARK = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.noomn.dao.BusinessOpportunity">
    update business_opportunity
    <set>
      <if test="followEmployeeId != null">
        FOLLOW_EMPLOYEE_ID = #{followEmployeeId,jdbcType=VARCHAR},
      </if>
      <if test="customId != null">
        CUSTOM_ID = #{customId,jdbcType=VARCHAR},
      </if>
      <if test="salesStageId != null">
        SALES_STAGE_ID = #{salesStageId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="preSalesAmount != null">
        PRE_SALES_AMOUNT = #{preSalesAmount,jdbcType=DECIMAL},
      </if>
      <if test="preDealTime != null">
        PRE_DEAL_TIME = #{preDealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cost != null">
        COST = #{cost,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where BUSINESS_OPPORTUNITY_ID = #{businessOpportunityId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.noomn.dao.BusinessOpportunity">
    update business_opportunity
    set FOLLOW_EMPLOYEE_ID = #{followEmployeeId,jdbcType=VARCHAR},
      CUSTOM_ID = #{customId,jdbcType=VARCHAR},
      SALES_STAGE_ID = #{salesStageId,jdbcType=VARCHAR},
      PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      PRE_SALES_AMOUNT = #{preSalesAmount,jdbcType=DECIMAL},
      PRE_DEAL_TIME = #{preDealTime,jdbcType=TIMESTAMP},
      COST = #{cost,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=VARCHAR}
    where BUSINESS_OPPORTUNITY_ID = #{businessOpportunityId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="cn.com.noomn.dao.BusinessOpportunity">
    <id column="BUSINESS_OPPORTUNITY_ID" jdbcType="VARCHAR" property="businessOpportunityId" />
    <result column="FOLLOW_EMPLOYEE_ID" jdbcType="VARCHAR" property="followEmployeeId" />
    <result column="CUSTOM_ID" jdbcType="VARCHAR" property="customId" />
    <result column="SALES_STAGE_ID" jdbcType="VARCHAR" property="salesStageId" />
    <result column="PRODUCT_ID" jdbcType="VARCHAR" property="productId" />
    <result column="PRE_SALES_AMOUNT" jdbcType="DECIMAL" property="preSalesAmount" />
    <result column="PRE_DEAL_TIME" jdbcType="TIMESTAMP" property="preDealTime" />
    <result column="COST" jdbcType="DECIMAL" property="cost" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    BUSINESS_OPPORTUNITY_ID, FOLLOW_EMPLOYEE_ID, CUSTOM_ID, SALES_STAGE_ID, PRODUCT_ID, 
    PRE_SALES_AMOUNT, PRE_DEAL_TIME, COST, REMARK
  </sql>
  <select id="selectByExample" parameterType="cn.com.noomn.dao.BusinessOpportunityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from business_opportunity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from business_opportunity
    where BUSINESS_OPPORTUNITY_ID = #{businessOpportunityId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from business_opportunity
    where BUSINESS_OPPORTUNITY_ID = #{businessOpportunityId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.com.noomn.dao.BusinessOpportunityExample">
    delete from business_opportunity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.com.noomn.dao.BusinessOpportunity">
    insert into business_opportunity (BUSINESS_OPPORTUNITY_ID, FOLLOW_EMPLOYEE_ID, 
      CUSTOM_ID, SALES_STAGE_ID, PRODUCT_ID, 
      PRE_SALES_AMOUNT, PRE_DEAL_TIME, COST, 
      REMARK)
    values (#{businessOpportunityId,jdbcType=VARCHAR}, #{followEmployeeId,jdbcType=VARCHAR}, 
      #{customId,jdbcType=VARCHAR}, #{salesStageId,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}, 
      #{preSalesAmount,jdbcType=DECIMAL}, #{preDealTime,jdbcType=TIMESTAMP}, #{cost,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.noomn.dao.BusinessOpportunity">
    insert into business_opportunity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="businessOpportunityId != null">
        BUSINESS_OPPORTUNITY_ID,
      </if>
      <if test="followEmployeeId != null">
        FOLLOW_EMPLOYEE_ID,
      </if>
      <if test="customId != null">
        CUSTOM_ID,
      </if>
      <if test="salesStageId != null">
        SALES_STAGE_ID,
      </if>
      <if test="productId != null">
        PRODUCT_ID,
      </if>
      <if test="preSalesAmount != null">
        PRE_SALES_AMOUNT,
      </if>
      <if test="preDealTime != null">
        PRE_DEAL_TIME,
      </if>
      <if test="cost != null">
        COST,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="businessOpportunityId != null">
        #{businessOpportunityId,jdbcType=VARCHAR},
      </if>
      <if test="followEmployeeId != null">
        #{followEmployeeId,jdbcType=VARCHAR},
      </if>
      <if test="customId != null">
        #{customId,jdbcType=VARCHAR},
      </if>
      <if test="salesStageId != null">
        #{salesStageId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="preSalesAmount != null">
        #{preSalesAmount,jdbcType=DECIMAL},
      </if>
      <if test="preDealTime != null">
        #{preDealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cost != null">
        #{cost,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.com.noomn.dao.BusinessOpportunityExample" resultType="java.lang.Integer">
    select count(*) from business_opportunity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update business_opportunity
    <set>
      <if test="record.businessOpportunityId != null">
        BUSINESS_OPPORTUNITY_ID = #{record.businessOpportunityId,jdbcType=VARCHAR},
      </if>
      <if test="record.followEmployeeId != null">
        FOLLOW_EMPLOYEE_ID = #{record.followEmployeeId,jdbcType=VARCHAR},
      </if>
      <if test="record.customId != null">
        CUSTOM_ID = #{record.customId,jdbcType=VARCHAR},
      </if>
      <if test="record.salesStageId != null">
        SALES_STAGE_ID = #{record.salesStageId,jdbcType=VARCHAR},
      </if>
      <if test="record.productId != null">
        PRODUCT_ID = #{record.productId,jdbcType=VARCHAR},
      </if>
      <if test="record.preSalesAmount != null">
        PRE_SALES_AMOUNT = #{record.preSalesAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.preDealTime != null">
        PRE_DEAL_TIME = #{record.preDealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cost != null">
        COST = #{record.cost,jdbcType=DECIMAL},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update business_opportunity
    set BUSINESS_OPPORTUNITY_ID = #{record.businessOpportunityId,jdbcType=VARCHAR},
      FOLLOW_EMPLOYEE_ID = #{record.followEmployeeId,jdbcType=VARCHAR},
      CUSTOM_ID = #{record.customId,jdbcType=VARCHAR},
      SALES_STAGE_ID = #{record.salesStageId,jdbcType=VARCHAR},
      PRODUCT_ID = #{record.productId,jdbcType=VARCHAR},
      PRE_SALES_AMOUNT = #{record.preSalesAmount,jdbcType=DECIMAL},
      PRE_DEAL_TIME = #{record.preDealTime,jdbcType=TIMESTAMP},
      COST = #{record.cost,jdbcType=DECIMAL},
      REMARK = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.noomn.dao.BusinessOpportunity">
    update business_opportunity
    <set>
      <if test="followEmployeeId != null">
        FOLLOW_EMPLOYEE_ID = #{followEmployeeId,jdbcType=VARCHAR},
      </if>
      <if test="customId != null">
        CUSTOM_ID = #{customId,jdbcType=VARCHAR},
      </if>
      <if test="salesStageId != null">
        SALES_STAGE_ID = #{salesStageId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="preSalesAmount != null">
        PRE_SALES_AMOUNT = #{preSalesAmount,jdbcType=DECIMAL},
      </if>
      <if test="preDealTime != null">
        PRE_DEAL_TIME = #{preDealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cost != null">
        COST = #{cost,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where BUSINESS_OPPORTUNITY_ID = #{businessOpportunityId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.noomn.dao.BusinessOpportunity">
    update business_opportunity
    set FOLLOW_EMPLOYEE_ID = #{followEmployeeId,jdbcType=VARCHAR},
      CUSTOM_ID = #{customId,jdbcType=VARCHAR},
      SALES_STAGE_ID = #{salesStageId,jdbcType=VARCHAR},
      PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      PRE_SALES_AMOUNT = #{preSalesAmount,jdbcType=DECIMAL},
      PRE_DEAL_TIME = #{preDealTime,jdbcType=TIMESTAMP},
      COST = #{cost,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=VARCHAR}
    where BUSINESS_OPPORTUNITY_ID = #{businessOpportunityId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="cn.com.noomn.dao.BusinessOpportunity">
    <id column="BUSINESS_OPPORTUNITY_ID" jdbcType="VARCHAR" property="businessOpportunityId" />
    <result column="FOLLOW_EMPLOYEE_ID" jdbcType="VARCHAR" property="followEmployeeId" />
    <result column="CUSTOM_ID" jdbcType="VARCHAR" property="customId" />
    <result column="SALES_STAGE_ID" jdbcType="VARCHAR" property="salesStageId" />
    <result column="PRODUCT_ID" jdbcType="VARCHAR" property="productId" />
    <result column="PRE_SALES_AMOUNT" jdbcType="DECIMAL" property="preSalesAmount" />
    <result column="PRE_DEAL_TIME" jdbcType="TIMESTAMP" property="preDealTime" />
    <result column="COST" jdbcType="DECIMAL" property="cost" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    BUSINESS_OPPORTUNITY_ID, FOLLOW_EMPLOYEE_ID, CUSTOM_ID, SALES_STAGE_ID, PRODUCT_ID, 
    PRE_SALES_AMOUNT, PRE_DEAL_TIME, COST, REMARK
  </sql>
  <select id="selectByExample" parameterType="cn.com.noomn.dao.BusinessOpportunityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from business_opportunity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from business_opportunity
    where BUSINESS_OPPORTUNITY_ID = #{businessOpportunityId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from business_opportunity
    where BUSINESS_OPPORTUNITY_ID = #{businessOpportunityId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.com.noomn.dao.BusinessOpportunityExample">
    delete from business_opportunity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.com.noomn.dao.BusinessOpportunity">
    insert into business_opportunity (BUSINESS_OPPORTUNITY_ID, FOLLOW_EMPLOYEE_ID, 
      CUSTOM_ID, SALES_STAGE_ID, PRODUCT_ID, 
      PRE_SALES_AMOUNT, PRE_DEAL_TIME, COST, 
      REMARK)
    values (#{businessOpportunityId,jdbcType=VARCHAR}, #{followEmployeeId,jdbcType=VARCHAR}, 
      #{customId,jdbcType=VARCHAR}, #{salesStageId,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}, 
      #{preSalesAmount,jdbcType=DECIMAL}, #{preDealTime,jdbcType=TIMESTAMP}, #{cost,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.noomn.dao.BusinessOpportunity">
    insert into business_opportunity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="businessOpportunityId != null">
        BUSINESS_OPPORTUNITY_ID,
      </if>
      <if test="followEmployeeId != null">
        FOLLOW_EMPLOYEE_ID,
      </if>
      <if test="customId != null">
        CUSTOM_ID,
      </if>
      <if test="salesStageId != null">
        SALES_STAGE_ID,
      </if>
      <if test="productId != null">
        PRODUCT_ID,
      </if>
      <if test="preSalesAmount != null">
        PRE_SALES_AMOUNT,
      </if>
      <if test="preDealTime != null">
        PRE_DEAL_TIME,
      </if>
      <if test="cost != null">
        COST,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="businessOpportunityId != null">
        #{businessOpportunityId,jdbcType=VARCHAR},
      </if>
      <if test="followEmployeeId != null">
        #{followEmployeeId,jdbcType=VARCHAR},
      </if>
      <if test="customId != null">
        #{customId,jdbcType=VARCHAR},
      </if>
      <if test="salesStageId != null">
        #{salesStageId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="preSalesAmount != null">
        #{preSalesAmount,jdbcType=DECIMAL},
      </if>
      <if test="preDealTime != null">
        #{preDealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cost != null">
        #{cost,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.com.noomn.dao.BusinessOpportunityExample" resultType="java.lang.Integer">
    select count(*) from business_opportunity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update business_opportunity
    <set>
      <if test="record.businessOpportunityId != null">
        BUSINESS_OPPORTUNITY_ID = #{record.businessOpportunityId,jdbcType=VARCHAR},
      </if>
      <if test="record.followEmployeeId != null">
        FOLLOW_EMPLOYEE_ID = #{record.followEmployeeId,jdbcType=VARCHAR},
      </if>
      <if test="record.customId != null">
        CUSTOM_ID = #{record.customId,jdbcType=VARCHAR},
      </if>
      <if test="record.salesStageId != null">
        SALES_STAGE_ID = #{record.salesStageId,jdbcType=VARCHAR},
      </if>
      <if test="record.productId != null">
        PRODUCT_ID = #{record.productId,jdbcType=VARCHAR},
      </if>
      <if test="record.preSalesAmount != null">
        PRE_SALES_AMOUNT = #{record.preSalesAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.preDealTime != null">
        PRE_DEAL_TIME = #{record.preDealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cost != null">
        COST = #{record.cost,jdbcType=DECIMAL},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update business_opportunity
    set BUSINESS_OPPORTUNITY_ID = #{record.businessOpportunityId,jdbcType=VARCHAR},
      FOLLOW_EMPLOYEE_ID = #{record.followEmployeeId,jdbcType=VARCHAR},
      CUSTOM_ID = #{record.customId,jdbcType=VARCHAR},
      SALES_STAGE_ID = #{record.salesStageId,jdbcType=VARCHAR},
      PRODUCT_ID = #{record.productId,jdbcType=VARCHAR},
      PRE_SALES_AMOUNT = #{record.preSalesAmount,jdbcType=DECIMAL},
      PRE_DEAL_TIME = #{record.preDealTime,jdbcType=TIMESTAMP},
      COST = #{record.cost,jdbcType=DECIMAL},
      REMARK = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.noomn.dao.BusinessOpportunity">
    update business_opportunity
    <set>
      <if test="followEmployeeId != null">
        FOLLOW_EMPLOYEE_ID = #{followEmployeeId,jdbcType=VARCHAR},
      </if>
      <if test="customId != null">
        CUSTOM_ID = #{customId,jdbcType=VARCHAR},
      </if>
      <if test="salesStageId != null">
        SALES_STAGE_ID = #{salesStageId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="preSalesAmount != null">
        PRE_SALES_AMOUNT = #{preSalesAmount,jdbcType=DECIMAL},
      </if>
      <if test="preDealTime != null">
        PRE_DEAL_TIME = #{preDealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cost != null">
        COST = #{cost,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where BUSINESS_OPPORTUNITY_ID = #{businessOpportunityId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.noomn.dao.BusinessOpportunity">
    update business_opportunity
    set FOLLOW_EMPLOYEE_ID = #{followEmployeeId,jdbcType=VARCHAR},
      CUSTOM_ID = #{customId,jdbcType=VARCHAR},
      SALES_STAGE_ID = #{salesStageId,jdbcType=VARCHAR},
      PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      PRE_SALES_AMOUNT = #{preSalesAmount,jdbcType=DECIMAL},
      PRE_DEAL_TIME = #{preDealTime,jdbcType=TIMESTAMP},
      COST = #{cost,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=VARCHAR}
    where BUSINESS_OPPORTUNITY_ID = #{businessOpportunityId,jdbcType=VARCHAR}
  </update>
</mapper>