<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.noomn.dao.mapper.StepDetaileMapper">
  <resultMap id="BaseResultMap" type="cn.com.noomn.dao.StepDetaile">
    <id column="STEP_DETAILE_ID" jdbcType="VARCHAR" property="stepDetaileId" />
    <result column="STEP_ID" jdbcType="VARCHAR" property="stepId" />
    <result column="STEP_DETAILE_EMPLOYEE_ID" jdbcType="VARCHAR" property="stepDetaileEmployeeId" />
    <result column="STEP_DETAILE_STATE" jdbcType="CHAR" property="stepDetaileState" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    STEP_DETAILE_ID, STEP_ID, STEP_DETAILE_EMPLOYEE_ID, STEP_DETAILE_STATE
  </sql>
  <select id="selectByExample" parameterType="cn.com.noomn.dao.StepDetaileExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from step_detaile
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from step_detaile
    where STEP_DETAILE_ID = #{stepDetaileId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from step_detaile
    where STEP_DETAILE_ID = #{stepDetaileId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.com.noomn.dao.StepDetaileExample">
    delete from step_detaile
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.com.noomn.dao.StepDetaile">
    insert into step_detaile (STEP_DETAILE_ID, STEP_ID, STEP_DETAILE_EMPLOYEE_ID, 
      STEP_DETAILE_STATE)
    values (#{stepDetaileId,jdbcType=VARCHAR}, #{stepId,jdbcType=VARCHAR}, #{stepDetaileEmployeeId,jdbcType=VARCHAR}, 
      #{stepDetaileState,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.noomn.dao.StepDetaile">
    insert into step_detaile
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stepDetaileId != null">
        STEP_DETAILE_ID,
      </if>
      <if test="stepId != null">
        STEP_ID,
      </if>
      <if test="stepDetaileEmployeeId != null">
        STEP_DETAILE_EMPLOYEE_ID,
      </if>
      <if test="stepDetaileState != null">
        STEP_DETAILE_STATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stepDetaileId != null">
        #{stepDetaileId,jdbcType=VARCHAR},
      </if>
      <if test="stepId != null">
        #{stepId,jdbcType=VARCHAR},
      </if>
      <if test="stepDetaileEmployeeId != null">
        #{stepDetaileEmployeeId,jdbcType=VARCHAR},
      </if>
      <if test="stepDetaileState != null">
        #{stepDetaileState,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.com.noomn.dao.StepDetaileExample" resultType="java.lang.Integer">
    select count(*) from step_detaile
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update step_detaile
    <set>
      <if test="record.stepDetaileId != null">
        STEP_DETAILE_ID = #{record.stepDetaileId,jdbcType=VARCHAR},
      </if>
      <if test="record.stepId != null">
        STEP_ID = #{record.stepId,jdbcType=VARCHAR},
      </if>
      <if test="record.stepDetaileEmployeeId != null">
        STEP_DETAILE_EMPLOYEE_ID = #{record.stepDetaileEmployeeId,jdbcType=VARCHAR},
      </if>
      <if test="record.stepDetaileState != null">
        STEP_DETAILE_STATE = #{record.stepDetaileState,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update step_detaile
    set STEP_DETAILE_ID = #{record.stepDetaileId,jdbcType=VARCHAR},
      STEP_ID = #{record.stepId,jdbcType=VARCHAR},
      STEP_DETAILE_EMPLOYEE_ID = #{record.stepDetaileEmployeeId,jdbcType=VARCHAR},
      STEP_DETAILE_STATE = #{record.stepDetaileState,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.noomn.dao.StepDetaile">
    update step_detaile
    <set>
      <if test="stepId != null">
        STEP_ID = #{stepId,jdbcType=VARCHAR},
      </if>
      <if test="stepDetaileEmployeeId != null">
        STEP_DETAILE_EMPLOYEE_ID = #{stepDetaileEmployeeId,jdbcType=VARCHAR},
      </if>
      <if test="stepDetaileState != null">
        STEP_DETAILE_STATE = #{stepDetaileState,jdbcType=CHAR},
      </if>
    </set>
    where STEP_DETAILE_ID = #{stepDetaileId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.noomn.dao.StepDetaile">
    update step_detaile
    set STEP_ID = #{stepId,jdbcType=VARCHAR},
      STEP_DETAILE_EMPLOYEE_ID = #{stepDetaileEmployeeId,jdbcType=VARCHAR},
      STEP_DETAILE_STATE = #{stepDetaileState,jdbcType=CHAR}
    where STEP_DETAILE_ID = #{stepDetaileId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="cn.com.noomn.dao.StepDetaile">
    <id column="STEP_DETAILE_ID" jdbcType="VARCHAR" property="stepDetaileId" />
    <result column="STEP_ID" jdbcType="VARCHAR" property="stepId" />
    <result column="STEP_DETAILE_EMPLOYEE_ID" jdbcType="VARCHAR" property="stepDetaileEmployeeId" />
    <result column="STEP_DETAILE_STATE" jdbcType="CHAR" property="stepDetaileState" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    STEP_DETAILE_ID, STEP_ID, STEP_DETAILE_EMPLOYEE_ID, STEP_DETAILE_STATE
  </sql>
  <select id="selectByExample" parameterType="cn.com.noomn.dao.StepDetaileExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from step_detaile
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from step_detaile
    where STEP_DETAILE_ID = #{stepDetaileId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from step_detaile
    where STEP_DETAILE_ID = #{stepDetaileId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.com.noomn.dao.StepDetaileExample">
    delete from step_detaile
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.com.noomn.dao.StepDetaile">
    insert into step_detaile (STEP_DETAILE_ID, STEP_ID, STEP_DETAILE_EMPLOYEE_ID, 
      STEP_DETAILE_STATE)
    values (#{stepDetaileId,jdbcType=VARCHAR}, #{stepId,jdbcType=VARCHAR}, #{stepDetaileEmployeeId,jdbcType=VARCHAR}, 
      #{stepDetaileState,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.noomn.dao.StepDetaile">
    insert into step_detaile
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stepDetaileId != null">
        STEP_DETAILE_ID,
      </if>
      <if test="stepId != null">
        STEP_ID,
      </if>
      <if test="stepDetaileEmployeeId != null">
        STEP_DETAILE_EMPLOYEE_ID,
      </if>
      <if test="stepDetaileState != null">
        STEP_DETAILE_STATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stepDetaileId != null">
        #{stepDetaileId,jdbcType=VARCHAR},
      </if>
      <if test="stepId != null">
        #{stepId,jdbcType=VARCHAR},
      </if>
      <if test="stepDetaileEmployeeId != null">
        #{stepDetaileEmployeeId,jdbcType=VARCHAR},
      </if>
      <if test="stepDetaileState != null">
        #{stepDetaileState,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.com.noomn.dao.StepDetaileExample" resultType="java.lang.Integer">
    select count(*) from step_detaile
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update step_detaile
    <set>
      <if test="record.stepDetaileId != null">
        STEP_DETAILE_ID = #{record.stepDetaileId,jdbcType=VARCHAR},
      </if>
      <if test="record.stepId != null">
        STEP_ID = #{record.stepId,jdbcType=VARCHAR},
      </if>
      <if test="record.stepDetaileEmployeeId != null">
        STEP_DETAILE_EMPLOYEE_ID = #{record.stepDetaileEmployeeId,jdbcType=VARCHAR},
      </if>
      <if test="record.stepDetaileState != null">
        STEP_DETAILE_STATE = #{record.stepDetaileState,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update step_detaile
    set STEP_DETAILE_ID = #{record.stepDetaileId,jdbcType=VARCHAR},
      STEP_ID = #{record.stepId,jdbcType=VARCHAR},
      STEP_DETAILE_EMPLOYEE_ID = #{record.stepDetaileEmployeeId,jdbcType=VARCHAR},
      STEP_DETAILE_STATE = #{record.stepDetaileState,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.noomn.dao.StepDetaile">
    update step_detaile
    <set>
      <if test="stepId != null">
        STEP_ID = #{stepId,jdbcType=VARCHAR},
      </if>
      <if test="stepDetaileEmployeeId != null">
        STEP_DETAILE_EMPLOYEE_ID = #{stepDetaileEmployeeId,jdbcType=VARCHAR},
      </if>
      <if test="stepDetaileState != null">
        STEP_DETAILE_STATE = #{stepDetaileState,jdbcType=CHAR},
      </if>
    </set>
    where STEP_DETAILE_ID = #{stepDetaileId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.noomn.dao.StepDetaile">
    update step_detaile
    set STEP_ID = #{stepId,jdbcType=VARCHAR},
      STEP_DETAILE_EMPLOYEE_ID = #{stepDetaileEmployeeId,jdbcType=VARCHAR},
      STEP_DETAILE_STATE = #{stepDetaileState,jdbcType=CHAR}
    where STEP_DETAILE_ID = #{stepDetaileId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="cn.com.noomn.dao.StepDetaile">
    <id column="STEP_DETAILE_ID" jdbcType="VARCHAR" property="stepDetaileId" />
    <result column="STEP_ID" jdbcType="VARCHAR" property="stepId" />
    <result column="STEP_DETAILE_EMPLOYEE_ID" jdbcType="VARCHAR" property="stepDetaileEmployeeId" />
    <result column="STEP_DETAILE_STATE" jdbcType="CHAR" property="stepDetaileState" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    STEP_DETAILE_ID, STEP_ID, STEP_DETAILE_EMPLOYEE_ID, STEP_DETAILE_STATE
  </sql>
  <select id="selectByExample" parameterType="cn.com.noomn.dao.StepDetaileExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from step_detaile
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from step_detaile
    where STEP_DETAILE_ID = #{stepDetaileId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from step_detaile
    where STEP_DETAILE_ID = #{stepDetaileId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.com.noomn.dao.StepDetaileExample">
    delete from step_detaile
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.com.noomn.dao.StepDetaile">
    insert into step_detaile (STEP_DETAILE_ID, STEP_ID, STEP_DETAILE_EMPLOYEE_ID, 
      STEP_DETAILE_STATE)
    values (#{stepDetaileId,jdbcType=VARCHAR}, #{stepId,jdbcType=VARCHAR}, #{stepDetaileEmployeeId,jdbcType=VARCHAR}, 
      #{stepDetaileState,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.noomn.dao.StepDetaile">
    insert into step_detaile
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stepDetaileId != null">
        STEP_DETAILE_ID,
      </if>
      <if test="stepId != null">
        STEP_ID,
      </if>
      <if test="stepDetaileEmployeeId != null">
        STEP_DETAILE_EMPLOYEE_ID,
      </if>
      <if test="stepDetaileState != null">
        STEP_DETAILE_STATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stepDetaileId != null">
        #{stepDetaileId,jdbcType=VARCHAR},
      </if>
      <if test="stepId != null">
        #{stepId,jdbcType=VARCHAR},
      </if>
      <if test="stepDetaileEmployeeId != null">
        #{stepDetaileEmployeeId,jdbcType=VARCHAR},
      </if>
      <if test="stepDetaileState != null">
        #{stepDetaileState,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.com.noomn.dao.StepDetaileExample" resultType="java.lang.Integer">
    select count(*) from step_detaile
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update step_detaile
    <set>
      <if test="record.stepDetaileId != null">
        STEP_DETAILE_ID = #{record.stepDetaileId,jdbcType=VARCHAR},
      </if>
      <if test="record.stepId != null">
        STEP_ID = #{record.stepId,jdbcType=VARCHAR},
      </if>
      <if test="record.stepDetaileEmployeeId != null">
        STEP_DETAILE_EMPLOYEE_ID = #{record.stepDetaileEmployeeId,jdbcType=VARCHAR},
      </if>
      <if test="record.stepDetaileState != null">
        STEP_DETAILE_STATE = #{record.stepDetaileState,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update step_detaile
    set STEP_DETAILE_ID = #{record.stepDetaileId,jdbcType=VARCHAR},
      STEP_ID = #{record.stepId,jdbcType=VARCHAR},
      STEP_DETAILE_EMPLOYEE_ID = #{record.stepDetaileEmployeeId,jdbcType=VARCHAR},
      STEP_DETAILE_STATE = #{record.stepDetaileState,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.noomn.dao.StepDetaile">
    update step_detaile
    <set>
      <if test="stepId != null">
        STEP_ID = #{stepId,jdbcType=VARCHAR},
      </if>
      <if test="stepDetaileEmployeeId != null">
        STEP_DETAILE_EMPLOYEE_ID = #{stepDetaileEmployeeId,jdbcType=VARCHAR},
      </if>
      <if test="stepDetaileState != null">
        STEP_DETAILE_STATE = #{stepDetaileState,jdbcType=CHAR},
      </if>
    </set>
    where STEP_DETAILE_ID = #{stepDetaileId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.noomn.dao.StepDetaile">
    update step_detaile
    set STEP_ID = #{stepId,jdbcType=VARCHAR},
      STEP_DETAILE_EMPLOYEE_ID = #{stepDetaileEmployeeId,jdbcType=VARCHAR},
      STEP_DETAILE_STATE = #{stepDetaileState,jdbcType=CHAR}
    where STEP_DETAILE_ID = #{stepDetaileId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="cn.com.noomn.dao.StepDetaile">
    <id column="STEP_DETAILE_ID" jdbcType="VARCHAR" property="stepDetaileId" />
    <result column="STEP_ID" jdbcType="VARCHAR" property="stepId" />
    <result column="STEP_DETAILE_EMPLOYEE_ID" jdbcType="VARCHAR" property="stepDetaileEmployeeId" />
    <result column="STEP_DETAILE_STATE" jdbcType="CHAR" property="stepDetaileState" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    STEP_DETAILE_ID, STEP_ID, STEP_DETAILE_EMPLOYEE_ID, STEP_DETAILE_STATE
  </sql>
  <select id="selectByExample" parameterType="cn.com.noomn.dao.StepDetaileExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from step_detaile
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from step_detaile
    where STEP_DETAILE_ID = #{stepDetaileId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from step_detaile
    where STEP_DETAILE_ID = #{stepDetaileId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.com.noomn.dao.StepDetaileExample">
    delete from step_detaile
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.com.noomn.dao.StepDetaile">
    insert into step_detaile (STEP_DETAILE_ID, STEP_ID, STEP_DETAILE_EMPLOYEE_ID, 
      STEP_DETAILE_STATE)
    values (#{stepDetaileId,jdbcType=VARCHAR}, #{stepId,jdbcType=VARCHAR}, #{stepDetaileEmployeeId,jdbcType=VARCHAR}, 
      #{stepDetaileState,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.noomn.dao.StepDetaile">
    insert into step_detaile
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stepDetaileId != null">
        STEP_DETAILE_ID,
      </if>
      <if test="stepId != null">
        STEP_ID,
      </if>
      <if test="stepDetaileEmployeeId != null">
        STEP_DETAILE_EMPLOYEE_ID,
      </if>
      <if test="stepDetaileState != null">
        STEP_DETAILE_STATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stepDetaileId != null">
        #{stepDetaileId,jdbcType=VARCHAR},
      </if>
      <if test="stepId != null">
        #{stepId,jdbcType=VARCHAR},
      </if>
      <if test="stepDetaileEmployeeId != null">
        #{stepDetaileEmployeeId,jdbcType=VARCHAR},
      </if>
      <if test="stepDetaileState != null">
        #{stepDetaileState,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.com.noomn.dao.StepDetaileExample" resultType="java.lang.Integer">
    select count(*) from step_detaile
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update step_detaile
    <set>
      <if test="record.stepDetaileId != null">
        STEP_DETAILE_ID = #{record.stepDetaileId,jdbcType=VARCHAR},
      </if>
      <if test="record.stepId != null">
        STEP_ID = #{record.stepId,jdbcType=VARCHAR},
      </if>
      <if test="record.stepDetaileEmployeeId != null">
        STEP_DETAILE_EMPLOYEE_ID = #{record.stepDetaileEmployeeId,jdbcType=VARCHAR},
      </if>
      <if test="record.stepDetaileState != null">
        STEP_DETAILE_STATE = #{record.stepDetaileState,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update step_detaile
    set STEP_DETAILE_ID = #{record.stepDetaileId,jdbcType=VARCHAR},
      STEP_ID = #{record.stepId,jdbcType=VARCHAR},
      STEP_DETAILE_EMPLOYEE_ID = #{record.stepDetaileEmployeeId,jdbcType=VARCHAR},
      STEP_DETAILE_STATE = #{record.stepDetaileState,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.noomn.dao.StepDetaile">
    update step_detaile
    <set>
      <if test="stepId != null">
        STEP_ID = #{stepId,jdbcType=VARCHAR},
      </if>
      <if test="stepDetaileEmployeeId != null">
        STEP_DETAILE_EMPLOYEE_ID = #{stepDetaileEmployeeId,jdbcType=VARCHAR},
      </if>
      <if test="stepDetaileState != null">
        STEP_DETAILE_STATE = #{stepDetaileState,jdbcType=CHAR},
      </if>
    </set>
    where STEP_DETAILE_ID = #{stepDetaileId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.noomn.dao.StepDetaile">
    update step_detaile
    set STEP_ID = #{stepId,jdbcType=VARCHAR},
      STEP_DETAILE_EMPLOYEE_ID = #{stepDetaileEmployeeId,jdbcType=VARCHAR},
      STEP_DETAILE_STATE = #{stepDetaileState,jdbcType=CHAR}
    where STEP_DETAILE_ID = #{stepDetaileId,jdbcType=VARCHAR}
  </update>
</mapper>